.queries-container {
    height: 1812px;
    /* background-color: blue; */
    display: none;
}

.myo-container {
    /* background-color: red; */
    display: none;
}

.query-container{
    border-bottom: 1px solid gray;
    box-shadow: 0px 1px 1px grey;
}

.query-header {
    height: 150px;
    text-align: center;
}

.query-header:hover{
    background-color: #ff8c1a;
    cursor: pointer;
}

.inner{
    display: inline-block;
}

.inner-number{
    margin-right: 20px;
    font-size: 120%;
}

.inner-query{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 110%;
}

.query-result{
    border-top: 1px solid gray;
    display: none;
}

.table-container{
    max-height: 350px;
    width: 70%;
    text-align: center;
    overflow: auto;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px gray;
}

.table{
    width: 100%;
    margin: auto;
    background-color: #bfbfbf;
    border: 1px solid gray;
}

th{
    padding: 5px;
}

td{
    background-color: white;
    padding: 5px;
}

.img-container{
    text-align: center;
    overflow: auto;
    margin:auto;
}

.img-chart{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px gray;
    border: 2px solid gray;
}

.myo-input-container{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
}

.myo-label{
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 140%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.myo-input{
    width: 80%;
    height: 250px;
    font-size: 200%;
    padding: 20px;
}

.button-submit{
    margin-top: 30px;
    height: 50px;
    width: 140px;
}