<html>
    <head>
        <meta charset="UTF-8">

        <script type="text/javascript" src="scripts/jquery.js"></script>
        <script type="text/javascript" src="scripts/script.js"></script>

        <link rel="stylesheet" type="text/css" href="style/header.css">
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="header-child header-left">
                    <div>
                        <a id="logo" href="index.html"><img src="style/overwatch_logo.png" class="logo"></a>
                    </div>
                </div>
                <div class="header-child header-right">
                    <div class="menu menu-queries-own">
                        <div>OUTRO BOTAO</div>
                    </div>
                    <div class="menu menu-queries">
                        <div>BOTAO</div>
                    </div>
                </div>
            </div>
        </header>
        <div class="body-container">
            
        </div>
    </body>
</html>