body {
    margin: 0;
    background-color: #a6a6a6;
    height: 100%;
}

.header-container {
    height: 80px;
    background-color: lightgray;
}

.symbol {
    max-height: 50px;
    margin-right: 35px;
}

.logo {
    max-width: 300px;
}

.header-child {
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
}

.header-left > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu:first-child {
    margin-right: 15%;
}

.menu {
    float: right;
    width: 170px;
    height: 100%;
    position: relative;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: black;
    font-size: 18px;
}

.menu > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu:hover {
    color: darkslategray;
    cursor: pointer;
    /* outline: 1px solid black;
    outline-offset: -1px; */
}

.menu::before {
    content: '';
    display: block;
    background-color: darkslategray;
    height: 4px;
    width: 0%;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

.menu:hover::before {
    width: 100%;
}