body {
    margin: 0;
    background-color: gray;
}

.header-container {
    height: 80px;
    background-color: lightgray;
}

.logo {
    max-width: 300px;
}

.header-child {
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
}

.header-left div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu {
    width: 50%;
    float: left;
    height: 100%;
    text-align: center;
}

.menu div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu:hover {
    background-color: rgba(255, 255, 255, 0.712);
    cursor: pointer;
}